<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <!-- Root Context: defines shared resources visible to all other web components -->
    <bean id="one" name="one" class="com.example.demo.PropertyHolder">
        <property name="name" value="fanculo1"></property>
    </bean>
    <bean id="two" name="two" class="com.example.demo.PropertyHolder">
        <property name="name" value="fanculo2"></property>
    </bean>


    <jee:jndi-lookup id="dbDataSource" jndi-name="jdbc/DatabaseName" expected-type="java.lang.String" >
        <jee:environment>java.naming.factory.initial=org.apache.naming.java.javaURLContextFactory</jee:environment>
    </jee:jndi-lookup>

    <bean id="three" name="three" class="com.example.demo.PropertyHolder">
        <property name="name" ref="dbDataSource"></property>
    </bean>

</beans>
